.App {
  text-align: center;
  font-family: 'Roboto';
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1200px;
}

.giphies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.giphy {
  margin: 20px;
}

img {
  max-width: 250px;
  max-height: 250px;
}

input {
  border-radius: 5px;
  border: 2px solid lightgrey;
  padding: 5px;
  margin: 5px 15px;
  min-width: 100px;
}

input:focus {
  outline: 0;
}

button {
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  min-width: 75px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(224, 163, 163);
}

button:focus {
  outline: 0;
}